doctype html
html
  head
    title= 'StrandedDeepSaveParser'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
    script(src='/javascripts/libs/jquery-2.1.3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/three.min.js')
    script(src='/javascripts/libs/OrbitControls.js')
    script(src='/javascripts/libs/dat.gui.min.js')
    script(src='/javascripts/stranded.js')
